NODE_ENV=development

WEB_PORT=3000
API_PORT=3333
API_HOST=0.0.0.0

NEXT_PUBLIC_API_URL=http://localhost:3333

POSTGRES_DB=teleconcilia
POSTGRES_USER=teleconcilia
POSTGRES_PASSWORD=teleconcilia123
POSTGRES_PORT=5432

REDIS_PORT=6379
